{% extends "core/base.html" %}
{% block title %}Delete Election | ElectionHub{% endblock %}

{% block content %}

<div class="card shadow-sm border-danger border-2">
  <div class="card-body text-center">

    <h4 class="fw-bold text-danger mb-3">
      Confirm Delete
    </h4>

    <p class="mb-2">
      Are you sure you want to delete:
    </p>

    <div class="fw-bold fs-5 mb-4 text-dark">
      {{ election.name }}
    </div>

    <form method="post">
      {% csrf_token %}

      <div class="row g-3">

        <div class="col-md-6">
          <button type="submit"
                  class="btn btn-outline-danger w-100">
            Yes, Delete
          </button>
        </div>

        <div class="col-md-6">
          <a href="{% url 'election_list' %}"
             class="btn btn-outline-secondary w-100">
            Cancel
          </a>
        </div>

      </div>

    </form>

  </div>
</div>

{% endblock %}
