{% extends "core/base.html" %}
{% block title %}Upload Geo | ElectionHub{% endblock %}

{% block content %}

<div class="mb-4">
  <h3 class="fw-bold mb-1">Upload Geo File</h3>
  <div class="text-muted small">
    Election: {{ election.name }} • Governorate: {{ governorate.name }}
  </div>
</div>

<div class="card shadow-sm border-0">
  <div class="card-body">

    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="mb-3">
        <input type="file"
               name="file"
               class="form-control"
               accept=".xlsx,.xls"
               required>
      </div>

      <div class="d-flex gap-2">
        <button type="submit" class="btn btn-outline-success">
          Upload
        </button>

        <a class="btn btn-outline-secondary"
           href="{% url 'governorate_detail' election.id governorate.id %}">
           Back
        </a>
      </div>

    </form>

    <div class="mt-4 small text-muted">
      <strong>Required headers:</strong><br>
      Governorate, District, Subdistrict, Election Unit Number,
      Election Unit Name, Election Unit Address, Total Allowed Votes
    </div>

  </div>
</div>

{% endblock %}
